h2, h1 {
    color: #0b7976;
}

.detail-screen {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

.detail-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.detail-screen-inner-container {
    top: 0;
    gap: 50px;
    height: 50%;
    width: 100%;
    justify-content: center;
}

.description {
    width: 50%;
}

.description-label {
    margin: 0;
}

.more-details {
    gap: 50px;
}

.more-details p {
    margin: 10px 0;
}

h2.more-details {
    margin: 0;
}


span.label {
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
}

.edit-delete-btn-container {
    margin-left: auto;
    gap: 30px;
}

.edit-delete-btn-container button {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    transition: all 0.2s ease;
}

.edit-delete-btn-container button:hover {
    cursor: pointer;
    opacity: 80%;
}

.delete-btn {
    background-color: rgba(255, 0, 0, 0.82);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}

.edit-btn {
    background-color: #05b7b1;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}

