.footer-container {
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
    font-size: 9px;
    line-height: 1.7;
}

footer {
    background-color: #05b7b1;
    color: white;
    text-align: center;
    padding: 20px 60px 30px 60px;
    margin-top: 100px;
}


#inner-footer-1, #inner-footer-2 {
    margin-right: 30px;
    width: 35%;
}

#inner-footer-2 {
    align-items: left;
    padding-left: 100px;
}

#footer-links {
    margin-top: 10px;
    width: 100%;
    justify-content: flex-start;
    gap: 15px;
}

#footer-links a {
    color: white;
    font-weight: 600;
}

footer p, footer address, footer a {
    color: white;
    font-size: 14px;
}

footer #author-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

#htw_logo {
    padding-top: 10px;
    width: 300px;
    height: 70px;
}

.imprint, .about {
    text-decoration: underline;
}

.imprint:hover, .about:hover {
    cursor: pointer;
}

.additional-layer {
    width: 100%;
    background-color: #00a6a0;
    display: block;
    height: 20px
}

